* { margin:0; padding:0; } 

html, body, #wrap { height: 100%; }

body > #wrap {
	height: auto; 
	min-height: 100%;
}

h4{
	font-weight:normal;
	font-size:18px;
}

#loadingGif{
	margin:0 0 0 300px;
	display:none;
	width: 40px;
	height: 40px;
	background:url(../img/loading.gif) no-repeat;
}

#filter-container{
position:relative;
width:300px;
float:left;
}

#filter-container .input{
margin: 0;
}

#list-container{
	position:relative;
width:600px;
min-height:400px;
float:left;
}

#resultList{
	float:left;
}



#Stats{
margin:30px 0;
position:relative;
float:left;
width:100%;
}

.jammeurStat{
	width:200px;
	float:left;
}

.highlight{
	font-weight:bold;
}

#nav{
	float:left;
	margin:0 450px;
}

#html{
	border:dotted 1px;
	padding:15px;
}

#import-container {
	float:left;
	position:relative;
}

#mail-container {
	float:left;
	position:relative;
	margin: 0 20px 0 0;
}

#import-container textarea{
	width:400px;
	height:125px;
}

#import-container .btn{
	margin: 0 0 10px 25px;
}

#mail-container textarea{
	width:400px;
	height:620px;
}
